# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youha ve to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.This task will be done in following steps:                                                           
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [52]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [53]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [54]:
#opening up naukri.com website on a automated chrome window
driver.get("https://www.naukri.com/")

In [55]:
#finding elements for job search for
search_field_designation=driver.find_element_by_class_name("suggestor-input ") #job search for
search_field_designation.send_keys("Data Analyst") #send_keys is a function to enter any data

In [56]:
#enter the location
search_field_Loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") #job search for
search_field_Loc.send_keys("Bangalore") #send_keys is a function to enter any data

In [57]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [58]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [ ]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web element of title
titles_tag[0:10] #using range to print only top 10 results

In [ ]:
#We will run a loop to iterate over the tags extracted above and extract the text inside them
for i in titles_tag: #iterarting over web element of title
    title=i.text    #extracting text from each web element
    job_titles.append(title) #appending each extracted text into empty list
job_titles[0:10] #printing top 10 data

In [ ]:
#extracting company naames
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tag[0:10]

In [ ]:
for i in companies_tag: #iterarting over web element of companies
    title=i.text    #extracting text from each web element
    company_names.append(title) #appending each extracted text into empty list
company_names[0:10] #printing top 10 data

In [ ]:
#extracting experience
experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tag[0:10]

In [ ]:
for i in experience_tag: #iterarting over web element of experience
    title=i.text    #extracting text from each web element
    experience_list.append(title) #appending each extracted text into empty list
experience_list[0:10] #printing top 10 data

In [ ]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")#extracting location
loc_tag[0:10]

In [ ]:
for i in loc_tag: #iterarting over web element of location
    title=i.text    #extracting text from each web element
    locations_list.append(title) #appending each extracted text into empty list
locations_list[0:10] #printing top 10 data

In [67]:
#creating dataframe
jobs=pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Company']=company_names
jobs['Experience']=experience_list
jobs['Locations']=locations_list

jobs[0:10]

,Job Title,Company,Experience,Locations
0,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
1,Senior Data Analyst,Gsn Games India,3-7 Yrs,Bangalore/Bengaluru
2,Jr . Data Analyst,Armorblox,0-2 Yrs,Bangalore/Bengaluru
3,Officer - Category Demand Management ( Data An...,Myntra,1-4 Yrs,Bangalore/Bengaluru
4,Software Technologist II - Data Analyst,Philips,5-8 Yrs,Bangalore/Bengaluru
5,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
6,Sr Data Analyst,TECHNODYSIS PRIVATE LIMITED,6-10 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
7,Senior Data Analyst,ClearTrail Technologies,4-8 Yrs,"Noida, Indore, Hyderabad/Secunderabad, Pune, G..."
8,Data Analyst,Malayala Manorama,2-7 Yrs,"Chennai, Bangalore/Bengaluru, kerala"
9,Data Analyst II,Cerner,6-10 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [27]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [37]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [38]:
#opening up naukri.com website on a automated chrome window
driver.get("https://www.naukri.com/")

In [39]:
#finding elements for job search for
field_desig=driver.find_element_by_class_name("suggestor-input ") #job search for
field_desig.send_keys("Data Scientist") #send_keys is a function to enter any data

In [40]:
#location
field_Loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") #job search for
field_Loc.send_keys("Bangalore") #send_keys is a function to enter any data

In [41]:
#search by full xpath
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [42]:
job_titles=[]
locations_list=[]
company_names=[]

In [ ]:
jtitles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web element of title
jtitles_tag[0:10] #using range to print only top 10 results

In [ ]:
for i in jtitles_tag: #iterarting over web element of titles
    title=i.text    #extracting text from each web element
    job_titles.append(title) #appending each extracted text into empty list
job_titles[0:10] #printing top 10 data

In [ ]:
#extracting company naames
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

In [ ]:
for i in company_tag: #iterarting over web element of companies
    title=i.text    #extracting text from each web element
    company_names.append(title) #appending each extracted text into empty list
company_names[0:10] #printing top 10 data

In [ ]:
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']") #extrcting locations
location_tag[0:10]

In [ ]:
for i in location_tag: #iterarting over web element of locations
    title=i.text    #extracting text from each web element
    locations_list.append(title) #appending each extracted text into empty list
locations_list[0:10] #printing top 10 data

In [51]:
#creating dataframe
jobs=pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Locations']=locations_list
jobs['Company']=company_names

jobs[0:10]

,Job Title,Locations,Company
0,Senior Data Scientist,Bangalore/Bengaluru,Walmart
1,Staff Data Scientist,Bangalore/Bengaluru,Walmart
2,Data Scientist,Bangalore/Bengaluru,CRED
3,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",Course5
4,Associate Data Scientist,"Mumbai, Pune, Bangalore/Bengaluru, Mumbai",IDFC FIRST Bank
5,Senior Data Scientist (IN4),Bangalore/Bengaluru,Walmart
6,Senior Data Scientist,Bangalore/Bengaluru,Walmart
7,Senior Data Scientist,Bangalore/Bengaluru,Ericsson Global Services
8,Lead Data Scientist,Bangalore/Bengaluru,Groww
9,Senior Data Scientist,Bangalore/Bengaluru,Truecaller

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [133]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [134]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [135]:
#opening up naukri.com website on a automated chrome window
driver.get("https://www.naukri.com/")

In [136]:
#finding elements for job search for
search_field_designation=driver.find_element_by_class_name("suggestor-input ") #job search for
search_field_designation.send_keys("Data Scientist") #send_keys is a function to enter any data

In [137]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [138]:
search_loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i").click()
time.sleep(2)

In [153]:
search_sal=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i").click()
time.sleep(2)

In [167]:
j_title=[]
loc_list=[]
company=[]
Exp_list=[]

In [ ]:
job_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web element of job
#title_tag[0:10] #using range to print only top 10 results

for i in job_tag: #iterarting over web element of job
    title=i.text    #extracting text from each web element
    j_title.append(title) #appending each extracted text into empty list
j_title[0:10] #printing top 10 data

In [ ]:
comp_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for i in comp_tag: #iterarting over web element of companies
    title=i.text    #extracting text from each web element
    company.append(title) #appending each extracted text into empty list
company[0:10] #printing top 10 data

In [ ]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

for i in exp_tag: #iterarting over web element of Exp
    title=i.text    #extracting text from each web element
    Exp_list.append(title) #appending each extracted text into empty list
Exp_list[0:10] #printing top 10 data

In [ ]:
loca_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_list=[]
for i in loca_tag: #iterarting over web element of Locations
    title=i.text    #extracting text from each web element
    loc_list.append(title) #appending each extracted text into empty list
loc_list[0:10] #printing top 10 data

In [181]:
print(len(j_title),len(company),len(Exp_list),len(loc_list)) #checking length

20 20 20 20

In [184]:
#creating dataframe
job=pd.DataFrame({})
job['Job_Title']=j_title
job['Company']=company
job['Experience']=Exp_list
job['Locations']=loc_list

job[0:10]

,Job_Title,Company,Experience,Locations
0,Associate Data Scientist,Optum,1-5 Yrs,Gurgaon/Gurugram
1,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, Greater Noida, Delhi / NCR"
2,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,3-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
3,Opening For Data Scientist,Care Health Insurance,1-5 Yrs,Gurgaon/Gurugram
4,Lead Data Scientist,KIA INDIA PRIVATE LIMITED,7-10 Yrs,Gurgaon/Gurugram
5,Data Scientist - Python/SQL,AVE-Promagne,3-8 Yrs,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra..."
6,Associate Data Scientist,Right Step Consulting,3-6 Yrs,Noida
7,Urgent opening For Data Scientist role,GLOBAL UPSIDE India Pvt Ltd,2-4 Yrs,"New Delhi, Bangalore/Bengaluru"
8,Data Scientist Jobs,Right Step Consulting,1-5 Yrs,Noida
9,Data Scientist,Cloudstrats Technologies Private Limited,3-5 Yrs,"New Delhi, Delhi / NCR, Mumbai (All Areas)"

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [278]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [279]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [280]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [281]:
#opening up flipkart.com website on a automated chrome window
driver.get("https://www.flipkart.com/")

In [282]:
#finding elements to search for
search_fld=driver.find_element_by_class_name("_3704LK") #prod search for
search_fld.send_keys("Sunglasses") #send_keys is a function to enter any data

In [284]:
#clicking on search button
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [ ]:
 # creating empty list 
Prod_names=[]
Prod_des=[]
Price=[]
Discount=[]
page=0


for i in range(1,4): #running for loop to run for 3 times
    
    page_url="https://www.flipkart.com/sunglasses/pr?sid=26x&marketplace=FLIPKART&page=" + str(i)
    driver.get(page_url)
    prod_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']") #locating web element of prod
    price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']") #locating web element of price
    prod_description=driver.find_elements_by_xpath("//a[@class='IRpwTa']") #locating web element of prod description
    Discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']") #locating web element of discount

    for i in prod_tag:
        
        Prod_names.append(i.text) #appending data(text) into the empty list for products

            
    for i in prod_description:
        
        Prod_des.append(i.text) #appending data(text) into the empty list for prod description


            
    for i in price_tag:
        
        Price.append(i.text) #appending data(text) into the empty list for price


    for i in Discount_tag:
        
        Discount.append(i.text) #appending data(text) into the empty list for discounts

            
Prod_names

In [293]:
len(Price) #checking length

100

In [297]:
#creating dataframe
sun=pd.DataFrame({})
sun['Prod Names']=Prod_names
sun['Prod Description']=Prod_des
sun['Price']=Price
sun['Discount']=Discount

sun[0:100]

,Prod Names,Prod Description,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649,27% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599,25% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹236,85% off
4,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299,88% off
...,...,...,...,...
95,Rich Club,"UV Protection, Polarized Round Sunglasses (50)",₹355,64% off
96,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276,88% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
98,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹630,78% off
99,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹699,22% off

In [298]:
#closing the driver
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [760]:
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [761]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [762]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [763]:
#opening up flipkart.com website on a automated chrome window
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace")

In [764]:
#opening all reviews
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [788]:
 # creating empty list 
prod_ratings=[]
prod_review_sum=[]
prod_review_full=[]

for i in range(1,11): #running for loop to run for 10 times

    page_url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=" + str(i)
    driver.get(page_url)
    ratings_tag345=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") #locating web element of rating
    ratings_tag12=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1rdVr6 _1BLPMq']") #locating web element of rating
    ratings_tag=ratings_tag345+ratings_tag12
    Summary_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']") #locating web element of review summary
    Full_rev_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']") #locating web element of review full


    
    for i in ratings_tag:
        prod_ratings.append(i.text) #appending data(text) into the empty list for ratings

            
    for i in Summary_tag:
        prod_review_sum.append(i.text) #appending data(text) into the empty list for prod reivew summary


            
    for i in Full_rev_tag:
        prod_review_full.append(i.text) #appending data(text) into the empty list for price

In [789]:
#creating dataframe
IP=pd.DataFrame({})
IP['Prod Ratings']=prod_ratings
IP['Prod Review Summary']=prod_review_sum
IP['Prod Review Full']=prod_review_full

IP[0:100]

,Prod Ratings,Prod Review Summary,Prod Review Full
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Excellent,Just go for it.\nThis phone is really amazing....
96,5,Fabulous!,Gift this to your loved ones fabulous product ...
97,5,Super!,This is my first ever iPhone.\nAnd I truly don...
98,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
99,5,Fabulous!,I purchased the iPhone 11 a month back. I must...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [353]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [354]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [355]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [356]:
#opening up flipkart.com website on a automated chrome window
driver.get("https://www.flipkart.com/")

In [357]:
#finding elements to search for
search_fld=driver.find_element_by_class_name("_3704LK") #prod search for
search_fld.send_keys("sneakers") #send_keys is a function to enter any data

In [360]:
#clicking on search button
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [ ]:
 # creating empty list 
Prod_sneak_names=[]
Prod_sneak_des=[]
Price_sneak=[]
Discount_sneak=[]

for i in range(1,4): #running for loop to run for 3 times
    
    page_url="flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(i)
    
    prod_sneak_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']") #locating web element of prod
    price_sneak_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']") #locating web element of price
    prod_sneak_description=driver.find_elements_by_xpath("//a[@class='IRpwTa']") #locating web element of prod description
    Discount_sneak_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']") #locating web element of discount

    for i in prod_sneak_tag:
        Prod_sneak_names.append(i.text) #appending data(text) into the empty list for products

            
    for i in prod_sneak_description:
        Prod_sneak_des.append(i.text) #appending data(text) into the empty list for prod description


            
    for i in price_sneak_tag:
        Price_sneak.append(i.text) #appending data(text) into the empty list for price


    for i in Discount_sneak_tag:
        Discount_sneak.append(i.text) #appending data(text) into the empty list for discounts

            
Prod_sneak_names[0:100]
Prod_sneak_des[0:100]
Price_sneak[0:100]
Discount_sneak[0:100]

In [366]:
#creating dataframe
Sneak=pd.DataFrame({})
Sneak['Prod Names']=Prod_sneak_names[0:100]
Sneak['Prod Description']=Prod_sneak_des[0:100]
Sneak['Price']=Price_sneak[0:100]
Sneak['Discount']=Discount_sneak[0:100]

Sneak

,Prod Names,Prod Description,Price,Discount
0,URBANBOX,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹142,85% off
1,corsac,Sneakers For Men,₹424,71% off
2,Magnolia,STR2 Sneakers For Men,₹351,64% off
3,ONECENTRE,Kwik FIT casual sneaker shoes and partywear sh...,₹250,60% off
4,KWIK FIT,Canvas shoes for Men Sneakers For Men,₹349,82% off
...,...,...,...,...
95,Kraasa,Original Luxury Branded Black Fancy Casual Wal...,₹366,63% off
96,World Wear Footwear,Sneakers For Men,₹199,60% off
97,SCATCHITE,Perfect Combo Pack of 02 Pairs Casual Sneakers...,₹348,65% off
98,World Wear Footwear,Sneakers For Men,₹199,60% off
99,BRUTON,Stylish & Trending Outdoor Walking Comfortable...,₹249,80% off

# 7. Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [393]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [394]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [395]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [396]:
#opening up myntra.com website on a automated chrome window
driver.get("https://www.myntra.com/shoes")

In [397]:
#Color filter
search_color=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()
time.sleep(2)

In [398]:
#Price filter
search_prc=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()
time.sleep(2)

In [ ]:
 # creating empty list 
brand=[]
brd_prc=[]
brd_des=[]

for i in range(1,4): #running for loop to run for 3 times
    
    page_url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0%2C7187.0_14125.0_7187.0%20TO%2014125.0"
    
    brand_tag=driver.find_elements_by_xpath("//h3[@class='product-brand']") #locating web element of prod
    brd_prc_tag=driver.find_elements_by_xpath("//div[@class='product-price']") #locating web element of price
    brd_des_description=driver.find_elements_by_xpath("//h4[@class='product-product']") #locating web element of prod description
    
    for i in brand_tag:
        brand.append(i.text) #appending data(text) into the empty list for products

            
    for i in brd_des_description:
        brd_des.append(i.text) #appending data(text) into the empty list for prod description


            
    for i in brd_prc_tag:
        prc=(i.text.split('Rs. ')[1])
        brd_prc.append(str("Rs. ") + prc) #appending data(text) into the empty list for price
        
        
         
brd_prc[0:100]

In [410]:
#creating dataframe
shoes=pd.DataFrame({})
shoes['Prod Names']=brand[0:100]
shoes['Prod Description']=brd_des[0:100]
shoes['Price']=brd_prc[0:100]

shoes

        Prod Names              Prod Description      Price
0             Nike    Men Winflo 7 Running Shoes   Rs. 7195
1             ALDO     Men Woven Design Sneakers  Rs. 13999
2             ALDO     Men Leather Driving Shoes  Rs. 12999
3      one8 x PUMA  Men Fuse One8 Training Shoes   Rs. 7999
4             ALDO           Men Leather Loafers  Rs. 12999
..             ...                           ...        ...
95            Puma       Unisex Leather Sneakers   Rs. 8499
96     New Balance       Women 680 Running Shoes   Rs. 7999
97  Tommy Hilfiger          Men Leather Sneakers   Rs. 7739
98  Tommy Hilfiger            Men Flexi Sneakers   Rs. 7199
99          Reebok  Men Zig Dynamica 2.0 Running   Rs. 7999

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [72]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [73]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [74]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [75]:
#opening up myntra.com website on a automated chrome window
driver.get("https://www.amazon.in/")

In [76]:
#finding elements to search for
search_lap=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input") #prod search for
search_lap.send_keys("Laptop") #send_keys is a function to enter any data

In [77]:
#clicking on search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [8]:
#Filter on Intel icore7
search_cpu1=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i").click()
time.sleep(2)

In [ ]:
Lap_titles=[]
lap_title_tag=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']") #locating web element of title


for i in lap_title_tag: #iterarting over web element of title
    title=i.text    #extracting text from each web element
    Lap_titles.append(title) #appending each extracted text into empty list
Lap_titles[0:10] #printing top 10 data

In [ ]:
Lap_ratings=[]
Lap_ratings_tag=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span") #locating web element of ratings

for i in Lap_ratings_tag: #iterarting over web element of ratings
    title=i.get_attribute('aria-label').replace(" out of 5 stars","")   #extracting text from each web element
    Lap_ratings.append(title) #appending each extracted text into empty list
Lap_ratings[0:20:2] #printing top 10 data

In [ ]:
Lap_Price=[]
Lap_Price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']") #locating web element of price

for i in Lap_Price_tag: #iterarting over web element of price
    title=i.text    #extracting text from each web element
    Lap_Price.append(title) #appending each extracted text into empty list
Lap_Price[0:10] #printing top 10 data

In [34]:
#creating dataframe
Lap=pd.DataFrame({})
Lap['Title']=Lap_titles[0:10] 
Lap['Rating']=Lap_ratings[0:20:2] 
Lap['Price']=Lap_Price[0:10] 


Lap[:10]

                                               Title Rating     Price
0  Acer Predator Helios 300 11th Gen Intel Core i...    5.0  1,69,990
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...    4.2    58,999
2  Mi Notebook Ultra 3.2K Resolution Display Inte...    4.3    77,999
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    4.4    86,900
4  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    4.4    57,490
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    3.0    79,990
6  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    4.6    89,990
7  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    4.0    85,890
8  HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...    4.3    92,400
9  LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...    5.0    85,999

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [570]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [660]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [661]:
#opening up naukri.com website on a automated chrome window
driver.get("https://www.ambitionbox.com/")

In [662]:
#finding elements for job search for
search_job=driver.find_element_by_xpath("/html/body/section[6]/div/div[1]/a").click() #click on job

In [663]:
#designation
search_field_desig=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input") #job search for
search_field_desig.send_keys("Data Scientist") #send_keys is a function to enter any data

In [664]:
#clicking on search button
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [665]:
#click on location drop down
drop_down=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
drop_down.click()

In [666]:
search_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_loc.send_keys("Noida")

In [667]:
location_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input")
location_button.click()

In [ ]:
comp=[]
comp_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in comp_name: #iterarting over web element of company name
    title=i.text
    #title=i.text    #extracting text from each web element
    comp.append(title) #appending each extracted text into empty list
comp #printing top 10 data

In [ ]:
comp_rating=driver.find_elements_by_xpath("//span[@class='body-small']")
rating=[]

for i in comp_rating: #iterarting over web element of company rating
    title=i.text
    #title=i.text    #extracting text from each web element
    rating.append(title) #appending each extracted text into empty list
rating #printing top 10 data

In [ ]:
days_posted=driver.find_elements_by_xpath("//span[1][@class='body-small-l']")
Posted=[]

for i in days_posted: #iterarting over web element of days posted
    title=i.text
    #title=i.text    #extracting text from each web element
    Posted.append(title) #appending each extracted text into empty list
Posted #printing top 10 data

In [672]:
#creating dataframe
Company=pd.DataFrame({})
Company['Company']=comp
Company['Rating']=rating
Company['Day Posted']=Posted

Company[:10]

                                            Company Rating Day Posted
0                     GENPACT India Private Limited    4.0    12d ago
1                  EXL Services.com ( I ) Pvt. Ltd.    3.9     5d ago
2                     GENPACT India Private Limited    4.0    17d ago
3  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED    3.9     3d ago
4                                 Tech Mahindra Ltd    3.7   1mon ago
5                     GENPACT India Private Limited    4.0   1mon ago
6                         Bristlecone India Limited    3.8    12d ago
7                                             Zyoin    4.1    16d ago
8                Ashkom Media India Private Limited    3.7     3d ago
9                 Newgen Software Technologies Ltd.    3.5    18d ago

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [722]:
# import libraries
import selenium #Library that is used to work with selenium
import pandas as pd #to create dataframe
from selenium import webdriver #importing webdriver module from selenium to open up automated chrome window
import warnings #to ignore any sort of warning
warnings.filterwarnings('ignore')
import time #use to stop serach engine for few seconds

In [723]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Python\chromedriver.exe") #r will convert string to raw string

In [724]:
#opening up naukri.com website on a automated chrome window
driver.get("https://www.ambitionbox.com/")

In [725]:
#finding elements for job search for
search_job=driver.find_element_by_xpath("/html/body/section[3]/div/div[1]/a").click() #click on job

In [726]:
#designation
search_field_desig=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input") #job search for
search_field_desig.send_keys("Data Scientist") #send_keys is a function to enter any data

In [727]:
#clicking on search button
click_op=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
click_op.click()

In [ ]:
Name=driver.find_elements_by_xpath("//div[1][@class='name']/a")
Company_name=[]

for i in Name: #iterarting over web element of Company name
    title=i.text
    #title=i.text    #extracting text from each web element
    Company_name.append(title) #appending each extracted text into empty list
Company_name #printing data

In [ ]:
salaries=driver.find_elements_by_xpath("//div[1][@class='name']/span")
Salary_record=[]

for i in salaries: #iterarting over web element of salary record
    title=i.text.replace("based on ","")
    #title=i.text    #extracting text from each web element
    Salary_record.append(title) #appending each extracted text into empty list
Salary_record #printing data

In [ ]:
exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
Experience=[]

for i in exp: #iterarting over web element of experience
    title=i.text.replace("Data Scientist\n . \n","")
    #title=i.text    #extracting text from each web element
    Experience.append(title) #appending each extracted text into empty list
Experience #printing data

In [ ]:
Avg_sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
Avg_salary=[]

for i in Avg_sal: #iterarting over web element of avg salary
    title=i.text
    #title=i.text    #extracting text from each web element
    Avg_salary.append(title) #appending each extracted text into empty list
Avg_salary #printing data

In [ ]:
min_sal=driver.find_elements_by_xpath("//div[1][@class='value body-medium']")
min_salary=[]

for i in min_sal: #iterarting over web element of min salary
    title=i.text
    #title=i.text    #extracting text from each web element
    min_salary.append(title) #appending each extracted text into empty list
min_salary #printing data

In [ ]:
max_sal=driver.find_elements_by_xpath("//div[2][@class='value body-medium']")
max_salary=[]

for i in max_sal: #iterarting over web element of max salary
    title=i.text
    #title=i.text    #extracting text from each web element
    max_salary.append(title) #appending each extracted text into empty list
max_salary #printing data

In [751]:
#creating dataframe
Salary=pd.DataFrame({})
Salary['Company Name']=Company_name
Salary['Experience']=Experience
Salary['Salary Record']=Salary_record
Salary['Average Salary']=Avg_salary
Salary['Min Salary']=min_salary
Salary['Max Salary']=max_salary

Salary

,Company Name,Experience,Salary Record,Average Salary,Min Salary,Max Salary
0,Walmart,3 yrs exp,11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L
1,Ab Inbev,3-4 yrs exp,32 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L
2,Reliance Jio,4 yrs exp,10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L
3,ZS,2 yrs exp,15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L
4,Optum,3-4 yrs exp,27 salaries,₹ 15.2L,₹ 11.0L,₹ 22.0L
5,Fractal Analytics,2-4 yrs exp,81 salaries,₹ 15.2L,₹ 9.5L,₹ 22.0L
6,Tiger Analytics,2-4 yrs exp,46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L
7,UnitedHealth,2-4 yrs exp,53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L
8,Verizon,4 yrs exp,14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L
9,Ganit Business Solutions,4 yrs exp,13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L

In [ ]:
_2WkVRV